Lab1/Aula1/receiver
Lab1/Aula1/transmitter
Lab1/Aula1/cable
Lab1/Aula2/receiver
Lab1/Aula2/transmitter
Lab1/Aula2/cable
Lab1/rcom1/testApp
Lab1/rcom1/a.out
Lab1/rcom1/application/main
Lab1/rcom1/protocol/linklayer.o
Lab1/rcom1/protocol/receiver.o
Lab1/rcom1/protocol/transmitter.o
Lab1/rcom1/protocol/utils.o
Lab1/rcom1/.DS_Store
Lab1/rcom1/application/rx_statistics
Lab1/rcom1/application/tx_statistics
Lab1/rcom1/application/rx_penguim.gif
Lab1/rcom1/penguim.gif
Lab1/rcom1/penguim.raw
.vscode
Lab1/rcom1/.vscode
Lab1/rcom1/.vscode/settings.json
Lab2/logsLab
